@model ModelDemo.Models.Student
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

<h1>Student Deatails</h1>

<h3>Roll No : @Model.roll</h3>
<h3>Name : @Model.name</h3>
<h3>Gender : @Model.gender</h3>
<h3>Course : @Model.course</h3>
<h3>Age : @Model.age</h3>
<h3>Fees : @Model.fees</h3>


</div>
